@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffee00aa;
    backdrop-filter: blur(10px);
    color: #000;
}

.flex {
    display: flex;
}

.around {
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.a {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 8px;
    padding: 4px;
    transition: color 0.3s ease-in-out;
    color: #383838b3;
}

.a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}

.a:hover {
    color: rgb(0, 0, 0);
}

.a:hover::after {
    width: 100%;
}

.medel {
    display: flex;
    align-items: center;
}

.mobile {
    display: none;
}

.pc {
    display: block;
}

.icon {
    font-size: larger;
    color: #000000;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.icon:hover {
    box-shadow: 0 0 100px black;
}

.menuBtn {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.pcFlex {
    display: flex;
}

.vcc {
    display: none;
}

.content {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background-image: url('https://www.gallerywallsmadeeasy.com/cdn/shop/collections/Gallery-Walls-Made-Easy-Travel_1400x.jpg?v=1654616583');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


.content::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(76, 76, 76, 0.4);
    z-index: 1;
}


.content>* {
    position: relative;
    z-index: 2;

}
.txbox{
    color: #fff;
    text-align: center;
    width: 50%;
}


@media (max-width: 768px) {
    .txbox{
        width: 100%;
    }

    .pc,
    .pcFlex {
        display: none;
    }


    .mobile {
        display: block;
    }

    .sideMenu {
        height: auto;
        position: fixed;
        top: 5px;
        right: 25px;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.568);
        width: auto;
        padding: 50px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 1px solid #00000051;

    }
}