@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffee00aa;
    backdrop-filter: blur(10px);
    color: #000;
}

.flex {
    display: flex;
}

.around {
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.a {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 8px;
    padding: 4px;
    transition: color 0.3s ease-in-out;
    color: #383838b3;
}

.a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}

.a:hover {
    color: rgb(0, 0, 0);
}

.a:hover::after {
    width: 100%;
}

.medel {
    display: flex;
    align-items: center;
}

.mobile {
    display: none;
}

.pc {
    display: block;
}

.icon {
    font-size: larger;
    color: #000000;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.icon:hover {
    box-shadow: 0 0 100px black;
}

.menuBtn {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.pcFlex {
    display: flex;
}

.vcc {
    display: none;
}

.content {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background-image: url('https://www.gallerywallsmadeeasy.com/cdn/shop/collections/Gallery-Walls-Made-Easy-Travel_1400x.jpg?v=1654616583');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


.content::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(76, 76, 76, 0.4);
    z-index: 1;
}


.content>* {
    position: relative;
    z-index: 2;

}

.txbox {
    color: #fff;
    text-align: center;
    width: 50%;
}

.modeltext {
    text-transform: uppercase;
    margin: 0;
    background-image: linear-gradient(rgb(145, 255, 0), rgb(0, 242, 255));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text {
    font-size: 18px;
    color: #dcdcdc;
    text-align: justify;

}

.text:hover {
    color: #fff;

}


/* From Uiverse.io by Shell0110 */ 
.button {
  position: relative;
  padding: 13px 35px;
  cursor: pointer;
  background: #ffffff00;
  font-size: 17px;
  font-weight: 900;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow:
    2px 2px 5px #18181869,
    inset 2px 2px 10px #ffffffb0;
  transition: all 0.3s ease-in-out;
}

.icon-1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.icon-2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.icon-3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.icon-4 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.icon-5 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.button:hover {
  padding: 13px 25px;
  border-radius: 8px 8px 24px 24px;
  color: #abaaa9;
  background: linear-gradient(#795738, #5b3c11);
  box-shadow:
    2px 2px 5px black,
    inset 2px 2px 10px #5b3c11;
}

.button:hover .icon-1 {
  top: -250%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: auto;
  animation: inIcon1 1s ease 0.45s forwards;
}

@keyframes inIcon1 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  25% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(1deg);
  }

  65% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.button:hover .icon-2 {
  position: absolute;
  top: -200%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 75px;
  height: auto;
  animation: inIcon2 1s ease 0.45s forwards;
}

@keyframes inIcon2 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(10deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(4deg);
  }

  80% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.button:hover .icon-3 {
  position: absolute;
  top: -130%;
  left: 20%;
  transform: translate(-50%, 0);
  width: 60px;
  height: auto;
  animation: inIcon3 1s ease 0.45s forwards;
}

@keyframes inIcon3 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-2deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.button:hover .icon-4 {
  position: absolute;
  top: -300%;
  left: 10%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon4 1s ease 0.45s forwards;
}

@keyframes inIcon4 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  40% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.button:hover .icon-5 {
  position: absolute;
  top: -350%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon5 1s ease 0.45s forwards;
}

@keyframes inIcon5 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fil-leaf-1 {
  fill: #7b9b3a;
}

.fil-leaf-2 {
  fill: #556729;
  fill-rule: nonzero;
}

.fil-leaf-3 {
  fill: #556729;
}

.fil-leaf-4 {
  fill: #3c4819;
}

.fil-leaf-5 {
  fill: #3c4819;
}







.sideMenu{
   backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
    .txbox {
        width: 100%;
    }

    .pc,
    .pcFlex {
        display: none;
    }


    .mobile {
        display: block;
    }

    .sideMenu {
        height: auto;
        position: fixed;
        top: 5px;
        right: 25px;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.783);
        width: auto;
        padding: 50px;
        border-radius: 10px;
       
        border: 1px solid #00000051;

    }
}