@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffee00aa;
    backdrop-filter: blur(10px);
    color: #000;
}

.flex {
    display: flex;
}

.around {
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.a {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 8px;
    padding: 4px;
    transition: color 0.3s ease-in-out;
    color: #383838b3;
}

.a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}

.a:hover {
    color: rgb(0, 0, 0);
}

.a:hover::after {
    width: 100%;
}

.medel {
    display: flex;
    align-items: center;
}

.mobile {
    display: none;
}

.pc {
    display: block;
}

.icon {
    font-size: larger;
    color: #000000;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.icon:hover {
    box-shadow: 0 0 100px black;
    transform: rotate(360deg);
}

.menuBtn {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.pcFlex {
    display: flex;
}

.vcc {
    display: none;
}

.content {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


.content::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(76, 76, 76, 0.4);
    z-index: 1;
}


.content>* {
    position: relative;
    z-index: 2;

}

.txbox {
    color: #fff;
    text-align: center;
    width: 50%;
}

.modeltext {
    text-transform: uppercase;
    margin: 0;
    background-image: linear-gradient(rgb(145, 255, 0), rgb(0, 242, 255));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text {
    font-size: 18px;
    color: #dcdcdc;
    text-align: justify;

}

.text:hover {
    color: #fff;

}
.button{
  font-family: 'Titillium Web', sans-serif;
  height: 40px;
  width: auto;
  padding: 0px 10px 0px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #ffffff00;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 100px rgb(255, 255, 255);
}

.button:hover {

  background-color: #ffffff;
  color: black;
   box-shadow: 0 0 1px rgb(255, 255, 255);
}
.sideMenu{
   backdrop-filter: blur(10px);
}
.footer{
    background-color: #000000;
    color: #fff;
    padding: 20px 0 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.textCenter {
    text-align: center;
}
.row{
    flex-direction: column;
}
.callBtn {
   margin: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
   width: 50%;
   color: #eee;
}
.callBtn:hover {
    transform: scale(1.1);
    color: #fff;
}
.callBtn:active{
    transform: scale(0.2);
}
.iconS{
    color: #eee;
}
@media (max-width: 768px) {
    .txbox {
        width: 100%;
    }

    .pc,
    .pcFlex {
        display: none;
    }


    .mobile {
        display: block;
    }

    .sideMenu {
        height: auto;
        position: fixed;
        top: 5px;
        right: 25px;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.783);
        width: auto;
        padding: 50px;
        border-radius: 10px;
       
        border: 1px solid #00000051;

    }
}